<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Alojamientos</title>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="http://127.0.0.1:8000/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://127.0.0.1:8000/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>

<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="/">Hoteles en Madrid</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="/">Inicio</a></li>
				<li><a href="/alojamientos">Alojamientos</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div>
		<div id="Loggin">	
		    <span><p1>Loggin:</p1>
		        <form method="POST" action="/login">
		        User: <input type="text" name="username"><br>
                Pass: <input type="password" name="password"><br>
                <input type="submit" value="Login">
                </form>
		    </span>
		</div>
	</div>
</div>
<div id="wrapper">
	<div id="staff" class="container">
		<div class="boxD">
            <h2>{{ titular |safe }}</h2>
            {{ ListadoSeleccionado |safe }}
		</div>
		<div class="boxH">
		    <h2>Filtro de alojamientos</h2><br>
		    <form method="POST" action="">
                Categoría: <select name="categoria">
                    <option value="Hoteles" selected="selected">Hoteles</option>
                    <option value="Hostales" selected="selected">Hostales</option>
                    <option value="Albergues" selected="selected">Albergues</option>
                    <option value="Pensiones" selected="selected">Pensiones</option>
                    <option value="Apartahoteles" selected="selected">Apartahoteles</option>
                    <option value="Residencias universitarias" selected="selected">Residencias universitarias</option>
                    <option value="Camping" selected="selected">Camping</option>
                    <option value="" selected="selected">Todos</option>
                </select><br>
                Estrellas: <select name="estrellas">
                    <option value="1 estrella" selected="selected">1 estrella</option>
                    <option value="2 estrellas" selected="selected">2 estrellas</option>
                    <option value="3 estrellas" selected="selected">3 estrellas</option>
                    <option value="4 estrellas" selected="selected">4 estrellas</option>
                    <option value="5 estrellas" selected="selected">5 estrellas</option>
                    <option value="6 estrellas" selected="selected">6 estrellas</option>
                    <option value="1 llave" selected="selected">1 llave</option>
                    <option value="2 llaves" selected="selected">2 llaves</option>
                    <option value="3 llaves" selected="selected">3 llaves</option>
                    <option value="4 llaves" selected="selected">4 llaves</option>
                    <option value="" selected="selected">Todos</option>
                </select>
                <br><input type="submit" value="Filtrar">
            </form><br>
		</div>
	</div>
	<div id="buttonery">
	    <div class="buttL">
	        {{ buttL |safe }}
	    </div>
	    <div class="buttR">
	        {{ buttR |safe }}
	    </div>
	</div>
    <div id="welcome-wrapper">
	    <div id="welcome" class="container">
		    <div class="title">
			    <h3>Bienvenidos a Hoteles en Madrid</h3>
		    </div>
		    <p>Esta App utiliza datos del <strong>portal de datos abiertos de Madrid</strong> para recopilar información sobre los <a href="http://www.esmadrid.com/opendata/alojamientos_es.xml"> Alojamientos</a> disponibles. También se dispone de la información en <a href="http://www.esmadrid.com/opendata/alojamientos_en.xml">inglés</a> y en <a href="http://www.esmadrid.com/opendata/alojamientos_fr.xml">francés</a>.</p>
	    </div>
	</div>
</div>
</body>
</html>
